.section {
    padding: 60px ;
}

.card-custom {
    border-radius: 10px;
    box-shadow: 0 4px 8px lightgray;
    margin: 20px;
    width: 400px;
    height: 500px;
    justify-content: center;
}

.navbar {
    margin-bottom: 40px;
}

.card img {
    border-radius: 10px;
    border-radius: 10px;
    width: 200px; 
    height: 250px; 
    margin: 0 auto; 

}
